.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    overflow-y: auto;
}