.back {
	position: absolute;
	top: 40px;
    border-radius: 8px;
    border: 1px solid transparent;
	margin-left: 10px; 
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(52, 52, 52);
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    display: block;
    width: 80px;
}

.back:hover {
    border-color: #dadadc;
}

.back:focus,
.back:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.nav {
	/*background-color: #333; /* Set the background color */
	padding: 10px; /* Add padding for better appearance */
	color: white; /* Set text color */
	display: flex;
	justify-content: space-between; /* Position elements with space between them */
	align-items: center; /* Center items vertically */
  }