.hospital {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.tiles {
    display: flex;
    flex-direction: column;
    gap: 10px;

}